.bunutan {
  height: 100vh;
  background-image: url('/images/christmas.jpeg')
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .spin {
    position: absolute;
    top: 40%;
    left: 30%;
    .nabunot {
      font-size: 2em;
    }
  }
  button {
    color: red;
    font-weight: 900;
    &:hover {
      color: red;
    }
  }
  .alert-link {
    font-size: 4em;
  }
  .welcomeNote {
    color: #fff;
    font-size: 2em;
    font-weight: 900;
  }
}
